## [ Обработка артефактов компиляции ]
[Bb]in/
[Ob]j/
[Ll]og/

## [ Visual Studio ]
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.db
*.opendb

## [ .NET / Visual Studio Build ]
*.exe
*.dll
*.pdb
*.nupkg
*.vshost.exe
*.vshost.exe.manifest
*.xmlfileoutput

## [ JetBrains (Rider / ReSharper) ]
.idea/
*.sln.iml
_ReSharper*/

## [ Локальные данные проекта (Твой JSON) ]
# Если ты хочешь, чтобы у каждого был свой прогресс и данные не пушились в репо:
project_data.json
*.local.json

## [ OS ]
.DS_Store
Thumbs.db

## [ VS Code ]
.vscode/

Docs/